* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.row{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.col-md-3, .col-md-9{
  padding: 0;
  margin: 0;
}

/* Side Bar CSS */

.sidebar--box {  
  background-color: #D1D1D1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar--logo{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  font-style: italic;
  margin: 10px 0px;

}

.sidebar--png{
  background-color: #E3E3DB;
}

.sidebar--options{
  display: flex;
  flex-direction: column;
  margin: 0% 10%;
}

.sidebar--option{
  background-color: #F1F1F1;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 0.5em;
}

.sidebar--button{
  background-color: #25242E;
  color: aliceblue;
  min-width: 50%;
  padding: 10px;
  margin: 10px;
  align-self: center;
}

.sidebar--text{
  text-align: center;
  font-size: 1.5em;
}

/* Main content CSS */

.main--box {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}

.main--infotext{
  margin-bottom: 20%;
  padding:5vh;
  background-color: #D9D9D9;
  border-radius: 0.5em;
}

.main--form{
  width: 60%;
}

.main--input{
  width: 85%;
  padding: 5px;
  border-radius: 0.5em;
}

.main--submit {
  width: 15%;
  padding: 5px;
  border-radius: 0.5em;
}




